body{
    margin: 0;
    padding: 0;
    font-family: TTLakes, Sans-serif, Arial, serif;
    font-weight: 300;
}
a{
    text-decoration: none;
    color: #1B1C21;
}
button{
    font-family: TTLakes, Sans-serif, Arial, serif;
    font-weight: 300;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition-duration: 0.3ms;
}
button:hover{
    filter: opacity(50%);
}
.left-aside{
    width: 242px;
    height: 100vh;
    position: relative;
    left: 0;
    box-shadow:
            16px 0 52px 0 rgba(14, 24, 80, 0.2),
            -2px 0 4px 0 rgba(69, 79, 126, 0.02);
    padding: 20px 24px 32px 24px;
}


/*<---ASIDE HEADER--->*/
.left-aside__header{
    display: flex;
    justify-content: space-between;
}
.left-aside__close-logo{
    display: flex;
    gap: 15px;
}
.left-aside--button-burger{
    background-image: url(img/aside/burger-close.svg);
    width: 40px;
    height: 40px;
}

.left-aside__logo{
    display: flex;
}
.left-aside__logo-img{
    background-image: url(img/header/logo.svg);
    width: 98px;
    height: 52px;
}
.left-aside--button-search{
    background-image: url(img/aside/search.svg);
    width: 40px;
    height: 40px;
}
/*<---/ASIDE HEADER--->*/

/*<---ASIDE NAV--->*/
.left-aside__nav{
    margin-top: 50px;
}
.left-aside__nav ul{
    padding: 0;
    list-style: none;
}
.left-aside__nav li{
    padding-top: 10px;
    padding-bottom: 10px;
}
.left-aside__nav-item{
    align-self: center;
    padding: 5px 7px;
}
.left-aside__nav-item{
    display: flex;
    align-items: center;
}
.left-aside__nav-item:hover:before{
    content: "";
    position: fixed;
    left: 0;
    width: 4px;
    height: 32px;
    background: transparent url(img/aside/highlight.svg) no-repeat left center;
    /*background-image: url(img/aside/highlight.svg);*/
    /*background-position: left center;*/
    background-size: contain;
    /*background-repeat: no-repeat;*/
    color:#7E7E82;
}
/*<---/ASIDE NAV--->*/

/*<---ASIDE FOOTER--->*/
.left-aside__footer{
    position: fixed;
    bottom: 0;
    padding-bottom: 32px;
}
.left-aside__footer-menu{
    display: flex;
    gap: 16px;
}
.left-aside__footer-menu > a{
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition-duration: 0.3ms;
}
.left-aside__footer-menu > a:hover{
    filter: opacity(50%);
}
.left-aside--call-img{
    background-image: url(img/header/call.svg);
}
.left-aside--chat-img{
    background-image: url(img/header/chat.svg);
}
.left-aside--profile-img{
    background-image: url(img/header/profile.svg);
}
.left-aside__mail{
    margin-top: 16px;
}
.left-aside_number{
    margin-top: 12px;
    font-weight: 600;
    font-size: 20px;
}
.left-aside_choice-language{
    margin-top: 40px;
}
.left-aside__language-btn{
    border: none;
    background-color: transparent;
    margin-right:7px;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
}
.left-aside__language--active{
    color:#7E7E82;
}
/*<---/ASIDE FOOTER--->*/