@font-face {
    font-family: 'TTLakes';
    src: url(fonts/TTLakes-Thin.ttf) format('ttf'),
    url(fonts/TTLakes-Thin.woff) format('woff');;
    font-weight: 300;
}
@font-face {
    font-family: 'TTLakes';url(fonts/TTLakes-Bold.woff);
    src: url(fonts/TTLakes-Regular.ttf) format('ttf'),
    url(fonts/TTLakes-Regular.woff) format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'TTLakes';
    src: url(fonts/TTLakes-Bold.ttf) format('ttf'),
    url(fonts/TTLakes-Bold.woff) format('woff');
    font-weight: 600;
}

body{
    font-family: TTLakes, Sans-serif, Arial, serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.body--bg-color{
    background-color: #F8F8F8;
}
.container{
    margin: 0 auto;
    padding: 16px 0;
}
a{
    color: #000;
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header--bordered-padding{
    background-color: #fff;
    padding: 20px 15px;
    border-bottom: 2px solid #D9FFF5;
}

.header__left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.header__check{
    display: flex;
    align-items: center;
    gap:15px;
}
.header__logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.header__border-line--left{
    display: none;
    height: 30px;
    width: 2px;
    background: rgba(234, 234, 234, 1);
}
.header__border-line{
    height: 30px;
    width: 2px;
    background: rgba(234, 234, 234, 1);
}
.about{
    display: flex;
    flex-direction: column;
}
.about__title-deco{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: 24px;
}
.about__title-left{
    display: flex;
    gap: 16px;
    align-items: center;
}
.about__deco-line{
    background-image: url("img/about/title-higlight.svg");
    background-repeat: no-repeat;
    width: 4px;
    height: 40px;
}
.about__title{
    margin: 0;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    color: #1B1C21;
}
.about__slide-menu{
    margin-top: 24px;
    overflow: scroll;
    display: flex;
    list-style-type: none;
    gap: 10px;

}
.about__slide-item{
    white-space: nowrap;
    padding: 5px 12px;
    border: 2px solid transparent;
}
.about__slide-item--active{
    box-sizing: border-box;
    border: 2px solid rgb(184, 255, 236);
    border-radius: 6px;
    background: rgb(255, 255, 255);
}
.about__link{
    display: flex;
    align-items: center;
}
.about__more-link--bg-image{
    padding-left: 5px;
    font-weight: 400;
}
.about__info{
    display: flex;
    flex-direction: column;
    color: #1B1C21;
}
.about__text{
    padding: 0 16px;
    font-size: 14px;
}
.hidden{
    display: none;
}
.hidden-1200{
    display: none;
}

@media (min-width: 768px) {
    .hidden{
        display: block;
    }
    .about__info{
        margin-top: 32px;
        flex-direction: row;
        gap: 48px;
    }
    .container{
        margin: 0 24px;
    }
    .about__title-left{
        gap: 24px;
    }
    .about__text{
        padding: 0;
    }
    .about__slide-menu{
        margin-top: 32px;
    }
    .about__img--width{
        width: 360px;
        height: auto;
        border-radius: 5px;
    }
    .header__border-line{
        display: none;
    }
    .header__border-line--left{
        display: block;
    }

}
@media (min-width: 1120px){
    .header{
        display: none;
    }
    .hidden-1200{
        display: flex;
    }
    .about__title-right {
        display: flex;
        margin-right: 24px;
        gap: 30px;
        align-items: center;
        font-weight: 400;
    }
    .header__repair{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .header__check-status{
        display: flex;
        gap: 10px;
        align-items: center;
    }

}