body{
    font-family: TTLakes, Sans-serif, Arial, serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.body--bg-color{
    background-color: #F8F8F8;
}
.container{
    margin: 0 auto;
    padding: 16px 0;
}
a{
    color: #7E7E82;;
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header--bordered-padding{
    background-color: #fff;
    padding: 20px 15px;
    border-bottom: 2px solid #D9FFF5;
}

.header__left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.header__img--ico-mod{
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.header__logo-img{
    background-image: url(img/header/logo.svg);
    width: 98px;
    height: 52px;
}
.header__button{
    background-image: url(img/header/burger.svg);
}
.header__call-img{
    background-image: url(img/header/call.svg);
}
.header__chat-img{
    background-image: url(img/header/chat.svg);
}
.header__profile-img{
    background-image: url(img/header/profile.svg);
}
.header__repair-img{
    background-image: url(img/header/repair.svg);
}
.header__check-img{
    background-image: url(img/header/checkstatus.svg);
}
.header__right-menu{
    display: flex;
    align-items: center;
    gap:15px;
}
.header__menu--mobile-laptop{
    display: flex;
    gap: 10px;
}
.header__logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.header__border-line--left{
    display: none;
}
.header__border-line{
    height: 30px;
    width: 2px;
    background: rgba(234, 234, 234, 1);
}

.about{
    display: flex;
    flex-direction: column;
}
.about__title-deco{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: 24px;
}
.about__title-left{
    display: flex;
    gap: 16px;
    align-items: center;
}
.about__deco-line{
    background-image: url("img/about/title-higlight.svg");
    background-repeat: no-repeat;
    width: 4px;
    height: 40px;
}
.about__title-left h1{
    margin: 0;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    color: #1B1C21;
}
.about__slide-menu{
    margin-top: 24px;
    overflow: scroll;
    display: flex;
    list-style-type: none;
    gap: 10px;
}
.about__slide-item{
    white-space: nowrap;
    padding: 8px 12px;
}
.about__slide-item a{
    padding: 6px 12px;
    border: 2px solid transparent;
}

.about__slide-item a:hover{
    border: 2px solid rgb(184, 255, 236);
    border-radius: 6px;
    background: rgb(255, 255, 255);
}
.about__info{
    display: flex;
    flex-direction: column;
    color: #1B1C21;
}
.about__col{
    display: flex;
    flex-direction: column;
}
.about__text{
    padding: 0 16px;
    font-size: 14px;
    overflow: hidden;
    max-height: 110px;

}
.about__button::before{
    content: url("img/about/arrow-link.svg");
    transform: translateX(-5px);

}
.about__button{
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    margin-left: 15px;
}
.about__img{
    margin: 0;
}
.about__img--width{
    margin-top: 10px;
    width: 100%;
}

/*--HIDDEN--*/

.hidden{
    display: none;
}
.hidden-768{
    display: none
}
.hidden-1200{
    display: none;
}

@media (min-width: 768px) {
    .hidden{
        display: block;
    }
    .about__info{
        margin-top: 32px;
        flex-direction: row;
        gap: 48px;
    }
    .container{
        margin: 0 24px;
    }
    .about__title-left{
        gap: 24px;
    }
    .about__text{
        padding: 0;
        height: 50%;
        max-height: fit-content;
    }
    .about__slide-menu{
        margin-top: 32px;
    }
    .about__img--width{
        width: 360px;
        height: auto;
        border-radius: 5px;
    }
    .header__menu--laptop{
        display: flex;
        gap: 10px;
    }
    .header__border-line{
        display: none;
    }
    .header__border-line--left{
        display: block;
    }
    .about__text-mobile{
        height: 90px;
        width: auto;
    }
    .about__button{
        margin-left: 0;
    }

}
@media (min-width: 1120px){
    .header{
        display: none;
    }
    .hidden-768{
        display: inline;
    }
    .hidden-1200{
        display: flex;
    }
    .about__slide-menu{
        overflow: visible;
        flex-wrap: wrap;
    }

    .about__title-right {
        display: flex;
        margin-right: 24px;
        gap: 30px;
        align-items: center;
        font-weight: 400;
    }
    .header__button--desktop{
        width: 182px;
        height: 42px;
        border: none;
        background-color: transparent;
        font-size: inherit;
        font-family: inherit;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: right center;
        padding: 0;
    }
    .header__button--desktop--bg-repair{
        background-image: url("img/header/repair.svg");
    }
    .header__button--desktop--bg-check{
        background-image: url("img/header/checkstatus.svg");
    }
    .about__img--width {
        width: 531px;
        height: auto;
        border-radius: 5px;
    }
    .about__button{
        margin-left: 0;
    }
    .about__text{
        max-height: max-content;
        height:auto;
    }

}